<div class="row">
  <div class="column-gallery" style="background-color: #003355; height: 418px;">
    <p style="font-size: 11px;line-height: 27px;" <strong>Remembering Space Shuttle Columbia and Her Crew: </strong>
      <br><br>
      The bright Sun dissects the airglow above Earth's horizon in this view photographed with a digital still camera
      from during the STS-107 mission. </p>
  </div>

  <div class="column-gallery2" style="height: 512px;">

    <p style="font-size: 11px;" <strong> NASA Events: <br><br> </strong>

    </p>
  </div>
</div>