.container_events {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 300px;

}

.top-left-events {
    position: absolute;
    top: 22px;
    left: 16px;
    font-size: 2.5vw;
    font-family: 'Righteous', sans-serif;
}