.footer {
    color: #FFFFFF;
}


.footer-column {
    float: left;
    background-color: #003355;
    width: 33.33%;
    padding: 0px;
    height: 136px;
    align-items: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer_links {
    text-align: center;
}

.rectangle {
    height: 12px;
    width: 1440px;
    background-color: #ff5200;
}

.rectangle2 {
    margin-top: 3px;
    height: 12px;
    width: 1440px;
    background-color: #04536C;
}


.footer-column__input {
    width: 100%;
    background: #ADB5BD;
    padding: 15px 11px;
    align-content: center;
}

.footer__icon {
    max-width: 100px;
    height: 81px;
    width: 100%;
    padding-block-end: 10px;
    padding-block: 20x;
}


.footer_link {
    font-size: 16px;
    height: 18px;
    color: #B1B1B1;
    text-decoration: none;

}

.social-wrapper {
    text-align: center;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}