* {
    box-sizing: border-box;
}


.column-gallery {
    float: left;
    width: 30%;
    margin-top: 400px;
    padding: 10px;
    height: 300px;
}


.column-gallery {
    width: 100%;
}



.column3 {
    width: 100%;
}



.column-gallery {
    width: 100%;
}


.column-gallery2 {
    float: right;
    width: 70%;
    margin-top: 260px;
    padding: 20px;
    height: 300px;
}