.container_missions {
    position: relative;
    text-align: center;
    color: white;


}

.top-left-missions {
    position: absolute;
    top: 30px;
    left: 16px;
    font-size: 2.778vw;
    font-family: 'Righteous', sans-serif;
}