.remember_images {

    padding-right: 66px;
    height: 500px;


}

.column {
    float: left;
    margin-top: 50px;
    padding: 10px;
    margin-bottom: 50px;

}

.left {
    width: 25%;
}

.right {
    width: 75%;
    padding-left: 30px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}