.buttons_mission {
    overflow: hidden;
    width: 100%;
    margin: auto;
    background-color: darkblue;
    background-size: 1127px;
    align-self: center;
    align-items: center;
    color: #0F1C24;
}


.topnav_link_button {
    background-color: #0F1C24;
}