.footer {
    background-color: $red-dark;
    color: $white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    grid-column: span 4;
    @include sm {
        background-color: $green;
    }
    @include md {
        background-color: $yellow;
        text-align: left;
    }
    @include lg {
        background-color: $orange;
    }
    }