.header{
    background-color: $blue;
    color: $white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    grid-column: span 4;
    @include sm {
        background-color: $light-purple;
    }
    @include md {
        background-color: $green;
        text-align: left;
    }
    @include lg {
        background-color: $orange;
    }
}
